#pct_theme_updater .content table tr:nth-child(even) td {background: #fcfcfe;}
#pct_theme_updater .content table tr td {border-bottom: 1px solid #e9e9e9;}

#pct_theme_updater {background-color: red;;}
